{% extends 'base.html.twig' %}

{% block title %}Hello LivreController!{% endblock %}

{% block body %}
    <div class="container mt-4 col-lg-7 col-md-7">
        <div class="jumbotron text-center mx-auto">
            <div class="container mt-5">
                {{ dump(books) }}
            </div>
        </div>
    </div>
{% endblock %}
