{% extends 'base.html.twig' %}

{% block title %}Hello LivreController!{% endblock %}

{% block body %}
<div class="container mt-4 col-lg-7 col-md-7">
    <div class="jumbotron text-center mx-auto">
        <h1>Livres disponibles</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit vel ipsum maximus blandit. Sed elementum, massa at scelerisque condimentum, mi diam pulvinar ipsum, sed fringilla purus justo eu ligula. Nullam sagittis diam ac blandit malesuada.</p>
    </div>
</div>
{% endblock %}
