{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container mt-4 col-lg-7 col-md-7">
    <div class="jumbotron text-center mx-auto">
        <h1>Bienvenue dans la bibliothèque</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit vel ipsum maximus blandit. Sed elementum, massa at scelerisque condimentum, mi diam pulvinar ipsum, sed fringilla purus justo eu ligula. Nullam sagittis diam ac blandit malesuada.</p>
        <a href=" {{ path('app_login') }}" class="btn btn-success">Connectez-vous</a>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('accueil') }}
{% endblock %}
